body{
  margin: 0;
}

* {
  font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

h1 {
  margin-left: 55px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.your-clock {
  margin-left: 0px;
}
